<div class="col-container">
        <div class="row mobile-container">
          <div class="d-none d-md-block col-md-12" id="navbar">
            <a href="/" id="fanc_link">
              <b>HOME</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/attending" id="fanc_link">
              <b>ATTEND</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/volunteer" id="fanc_link">
              <b>VOLUNTEER</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/overnight" id="fanc_link">
              <b>STAY OVERNIGHT</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/involved" id="fanc_link">
              <b>GET INVOLVED</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="racing" id="fanc_link">
              <b>RACING</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="history" id="fanc_link">
              <b>HISTORY OF PNWH</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="contact" id="fanc_link">
              <b>CONTACT</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>

          <div class="topnav col-12 d-md-none">
            <div id="myLinks">
              <a href="/" id="fanc_link">
                <b>HOME</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/attending" id="fanc_link">
                <b>ATTEND</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/volunteer" id="fanc_link">
                <b>VOLUNTEER</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/overnight" id="fanc_link">
                <b>STAY OVERNIGHT</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/involved" id="fanc_link">
                <b>GET INVOLVED</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="racing" id="fanc_link">
                <b>RACING</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="history" id="fanc_link">
                <b>HISTORY OF PNWH</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="contact" id="fanc_link">
                <b>CONTACT</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>

        </div>
        <div class="row">
            <div class="col-12">
                <img src="../images/PNWHistorics-Rotator-02.jpg" class="img-responsive" id="shaded" />
            </div><div class="col-0 col-md-1"></div>





                  <div id="mainContentDiv" class="col-12 col-md-7">
                      <h2>Contact Us</h2>
                      <form action="//submit.form" id="ContactUs100" method="post" onsubmit="return ValidateForm(this);">
                          <script type="text/javascript">
                              function ValidateForm(frm) {
                                  if (frm.Name.value == "") { alert('Name is required.'); frm.Name.focus(); return false; }
                                  if (frm.FromEmailAddress.value == "") { alert('Email address is required.'); frm.FromEmailAddress.focus(); return false; }
                                  if (frm.FromEmailAddress.value.indexOf("@") < 1 || frm.FromEmailAddress.value.indexOf(".") < 1) { alert('Please enter a valid email address.'); frm.FromEmailAddress.focus(); return false; }
                                  if (frm.Comments.value == "") { alert('Please enter comments or questions.'); frm.Comments.focus(); return false; }
                                  return true;
                              }
                          </script>
                          <table style="width:550px;border:0;" cellpadding="8" cellspacing="0">
                              <tr>
                                  <td>
                                      <label for="Name">Name*:</label>
                                  </td>
                                  <td>
                                      <input name="Name" type="text" maxlength="60" style="width:250px;" />
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <label for="PhoneNumber">Phone number:</label>
                                  </td>
                                  <td>
                                      <input name="PhoneNumber" type="text" maxlength="43" style="width:250px;" />
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <label for="FromEmailAddress">Email address*:</label>
                                  </td>
                                  <td>
                                      <input name="FromEmailAddress" type="text" maxlength="90" style="width:250px;" />
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <label for="Comments">Comments*:</label>
                                  </td>
                                  <td>
                                       <textarea name="Comments" rows="7" cols="40" style="width:350px;"></textarea>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      * - required fields
                                  </td>
                                  <td>
                                      <div style="float:right"><a href="https://www.100forms.com" id="lnk100" title="form to email">form to email</a></div>
                                      <input name="skip_Submit" type="submit" value="Submit" />
                                      <script src="https://www.100forms.com/js/FORMKEY:  /SEND: " type="text/javascript"></script>
                                  </td>
                              </tr>
                          </table>
                      </form>
                  </div>





            <div class="col-12 col-md-3" id="sponsorsDiv">
                <table style="width:100%; " cellspacing="100">

                    <tr>
                        <td><img src="../images/ChildrensHospital.PNG" class="img-responsive" /></td>
                    </tr>
                    <tr class="blank_row"></tr>
                    <tr>
                        <td><h6>Our 2019 Sponsors:</h6></td>
                    </tr>
                    <tr>
                        <td><img src="../images/NW-Dealers.PNG" class="img-responsive" /></td>
                    </tr>
                    <tr class="blank_row"></tr>
                    <tr>
                        <td>
                            <h6>NORTHWEST PORSCHE DEALERS</h6>
                            <ul>
                                <li><a href="http://bellingham.porschedealer.com/" id="dark_link">Bellingham Porsche</a></li>
                                <li><a href="http://bellevue.porschedealer.com/" id="dark_link">Bellevue Porsche</a></li>
                                <li><a href="https://www.porscheoftacoma.com/" id="dark_link">Porsche of Tacoma</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="blank_row"></tr>
                    <tr>
                        <td><img src="../images/pnwh_poster.jpg" class="img-responsive" /></td>
                    </tr>
                    <tr class="blank_row"></tr>
                    <tr>
                        <td><img src="../images/holmes_electric.jpg" class="img-responsive" /></td>
                    </tr>
                </table><p></p>
                <img src="http://northwesthistorics.com/wp-content/uploads/2012/03/Social-Media-Bar.png" width="200px" height="40" border="0" usemap="#Connect">
                <map name="Connect">
                    <area shape="rect" coords="3,2,39,36" href="http://www.facebook.com/pages/SOVREN-Guild/111669092203590" target="blank">
                    <area shape="rect" coords="42,2,78,36" href="http://www.linkedin.com/groups/Pacific-Northwest-Historics-4233113?home=&gid=4233113&trk=anet_ug_hm" target="blank">
                    <area shape="rect" coords="82,2,118,36" href="http://twitter.com/PNWHistorics" target="blank">
                    <area shape="rect" coords="123,2,159,36" href="http://www.youtube.com/user/PNWHistorics?feature=mhee" target="blank">
                </map>

            </div>
            <div class="col-0 col-md-1">

            </div>
        </div>
        <div class="row">
            <div class="col-12" id="footer">
                <p><b>© 2019 Pacific Northwest Historics All Rights Reserved</b></p>
                <a href="">Home</a> |
                <a href="">Blog</a> |
                <a href="">Media Information</a> |
                <a href="">Our Sponsors</a> |
                <a href="">Helpful Links</a> |
                <a href="">FAQs</a> |
                <a href="">Privacy Policy</a><p></p>
                <p><b>Website provided by Sean Schlichte</b></p>
            </div>
        </div>
    </div>
