<div class="col-container">
        <div class="row mobile-container">
          <div class="d-none d-md-block col-md-12" id="navbar">
            <a href="/" id="fanc_link">
              <b>HOME</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/attending" id="fanc_link">
              <b>ATTEND</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/volunteer" id="fanc_link">
              <b>VOLUNTEER</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/overnight" id="fanc_link">
              <b>STAY OVERNIGHT</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/involved" id="fanc_link">
              <b>GET INVOLVED</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="racing" id="fanc_link">
              <b>RACING</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="history" id="fanc_link">
              <b>HISTORY OF PNWH</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="contact" id="fanc_link">
              <b>CONTACT</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>

          <div class="topnav col-12 d-md-none">
            <div id="myLinks">
              <a href="/" id="fanc_link">
                <b>HOME</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/attending" id="fanc_link">
                <b>ATTEND</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/volunteer" id="fanc_link">
                <b>VOLUNTEER</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/overnight" id="fanc_link">
                <b>STAY OVERNIGHT</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/involved" id="fanc_link">
                <b>GET INVOLVED</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="racing" id="fanc_link">
                <b>RACING</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="history" id="fanc_link">
                <b>HISTORY OF PNWH</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="contact" id="fanc_link">
                <b>CONTACT</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>

        </div>
        <div class="row">
            <div class="col-12">
                <img src="../images/PNWHistorics-Rotator-02.jpg" class="img-responsive" id="shaded" />
            </div>

            <div class="col-0 col-md-1"></div>

            <div id="mainContentDiv" class="col-12 col-md-7">
                <h3>Get Involved: Vendors, Sponsors, Donations</h3>
                <h4>Vendors</h4>
                <p>With more than 5,000 spectators attending our event annually, in 
                    addition to the hundreds of drivers, crew and volunteers being a 
                    vendor at the PNW Historics is an excellent way to showcase your 
                    company and your products and/or services on Vendor Row.  Our 
                    vendor spaces are leased for the entire event weekend, with sizes 
                    ranging from 10′ x 10′ up to just about any imaginable size!  We 
                    can provide tent set-ups or simply space only based on your needs.  
                    Our vendors come back year after year because our vendor services 
                    are far above those of other local events.  Vendor row is also 
                    prime location for marketing your business because in order to 
                    reach concession stands, beer gardens, the paddock, pace cars, 
                    and several prime vantage points to watch the racing spectators 
                    and VIPs must pass through vendor row, affording you the 
                    opportunity to introduce yourself to everyone!</p>

                <p>Our event is Friday, Saturday, Sunday. Set up can start on 
                    Thursday. All vendors must be set up and ready for spectators on 
                    Friday at 8:30 AM, when our gates open to the public. Registration 
                    packets are handed out when you come to set up before the event. 
                    Vendors are asked to stay until Sunday after the last race which 
                    is usually 4:30 PM.</p>

                <p>Please note the vendor registration deadline is June 15.</p>

                <p>For vendors who would like a booth at the races, please fill out 
                    our <a href="../pdfs/2019-31st-vendor.pdf">2019 Vendor Registration Form</a></p>

                <b>Event Sponsorship</b>
                <p>Outlined in our Getting Involved brochure, our event sponsorship 
                    levels are available for companies and private donors to choose 
                    from.  Ranging from Title Sponsorship to Supporting Sponsorship we 
                    include generous sponsor benefits and creative ways to market our 
                    sponsors and acknowledge their involvement in our event.</p>

                <p>In addition to our standard sponsorship levels we also offer 
                    specialized sponsorship opportunities for various areas of our 
                    event.  For example some of our specialized sponsorship areas 
                    include: Car Corral, Vendor Row, Saturday Banquet, Driver & VIP 
                    Hospitality Tent, Golf Cart, Auction, Sunday Breakfast, Driver’s 
                    Social, and more!  These sponsorship levels also include generous 
                    sponsor benefits and creative marketing and acknowledgement.</p>

                <p>If interested contact Martin Rudow at sovrenmr@integra.net</p>

                <b>Program Sponsorship</b>
                <p>Would you like to advertise your business in our event program?  
                    Become a program sponsor (formerly called program ads). Our full 
                    color program (circulation 4000) is sold over race weekend to 
                    spectators, distributed to all drivers, provided to sponsors, 
                    media, and other VIPs. This is a great way to show your support 
                    for Seattle Children’s Hospital while also sharing your business.</p>

                <p>If interested in the Program Sponsorship (Advertising) please fill 
                    out: 2019_Program Sponsor & Advertising form</p>

                <b>In-Kind Donations</b>
                <p>The Pacific Northwest Historics weekend has become famous not only 
                    for its racing, but also because of its hospitality. In-kind 
                    donations of food, supplies, party equipment, as well as services 
                    such as graphic design, printing, advertising, and cellular phones 
                    have been donated to the event each year. These donations contribute 
                    to the reduction of overhead costs and allow the Vintage Racing 
                    Charities group to make a larger donation to Seattle Children’s</p>

                <p>Contact Debbie Haley to get involved at deborahhaley@msn.com</p>

                <b>Car Corral</b>
                <p>Local car clubs and individual car owners all jump at the opportunity 
                    to participate in our annual car corral.  With about 250 parking 
                    spaces available, our car corral sells out annually.  Located just 
                    inside the entrance gates, the car corral is the first place 
                    spectators visit when they arrive.  Located trackside, along the 
                    straightaway car corral participants love this prime location to 
                    display their car!</p>

                <p>If interested in the Car Corral please fill out: 2019 Car Corral Registration Form</p>

                <p>If you would like to learn more about any of the areas above, please
                    contact us so that we can direct your inquiry to the appropriate 
                    committee chair to answer your questions.  We look forward to your 
                    involved in the PNW Historics and thank you for your support of 
                    Seattle Children’s Hospital.</p>
            </div>

            <div class="col-12 col-md-3" id="sponsorsDiv">
                <table style="width:100%; " cellspacing="100">

                    <tr>
                        <td><img src="../images/ChildrensHospital.PNG" class="img-responsive" /></td>
                    </tr>
                    <tr class="blank_row"></tr>
                    <tr>
                        <td><h6>Our 2019 Sponsors:</h6></td>
                    </tr>
                    <tr>
                        <td><img src="../images/NW-Dealers.PNG" class="img-responsive" /></td>
                    </tr>
                    <tr class="blank_row"></tr>
                    <tr>
                        <td>
                            <h6>NORTHWEST PORSCHE DEALERS</h6>
                            <ul>
                                <li><a href="http://bellingham.porschedealer.com/" id="dark_link">Bellingham Porsche</a></li>
                                <li><a href="http://bellevue.porschedealer.com/" id="dark_link">Bellevue Porsche</a></li>
                                <li><a href="https://www.porscheoftacoma.com/" id="dark_link">Porsche of Tacoma</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="blank_row"></tr>
                    <tr>
                        <td><img src="../images/pnwh_poster.jpg" class="img-responsive" /></td>
                    </tr>
                    <tr class="blank_row"></tr>
                    <tr>
                        <td><img src="../images/holmes_electric.jpg" class="img-responsive" /></td>
                    </tr>
                </table>
                <p></p>
                <img src="http://northwesthistorics.com/wp-content/uploads/2012/03/Social-Media-Bar.png" width="200px" height="40" border="0" usemap="#Connect">
                <map name="Connect">
                    <area shape="rect" coords="3,2,39,36" href="http://www.facebook.com/pages/SOVREN-Guild/111669092203590" target="blank">
                    <area shape="rect" coords="42,2,78,36" href="http://www.linkedin.com/groups/Pacific-Northwest-Historics-4233113?home=&gid=4233113&trk=anet_ug_hm" target="blank">
                    <area shape="rect" coords="82,2,118,36" href="http://twitter.com/PNWHistorics" target="blank">
                    <area shape="rect" coords="123,2,159,36" href="http://www.youtube.com/user/PNWHistorics?feature=mhee" target="blank">
                </map>

            </div>
            <div class="col-0 col-md-1">

            </div>
        </div>
        <div class="row">
            <div class="col-12" id="footer">
                <p><b>© 2019 Pacific Northwest Historics All Rights Reserved</b></p>
                <a href="">Home</a> |
                <a href="">Blog</a> |
                <a href="">Media Information</a> |
                <a href="">Our Sponsors</a> |
                <a href="">Helpful Links</a> |
                <a href="">FAQs</a> |
                <a href="">Privacy Policy</a><p></p>
                <p><b>Website provided by Sean Schlichte</b></p>
            </div>
        </div>
    </div>
