<div class="col-container">
        <div class="row mobile-container">
          <div class="d-none d-md-block col-md-12" id="navbar">
            <a href="/" id="fanc_link">
              <b>HOME</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/attending" id="fanc_link">
              <b>ATTEND</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/volunteer" id="fanc_link">
              <b>VOLUNTEER</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/overnight" id="fanc_link">
              <b>STAY OVERNIGHT</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/involved" id="fanc_link">
              <b>GET INVOLVED</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="racing" id="fanc_link">
              <b>RACING</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="history" id="fanc_link">
              <b>HISTORY OF PNWH</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="contact" id="fanc_link">
              <b>CONTACT</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>

          <div class="topnav col-12 d-md-none">
            <div id="myLinks">
              <a href="/" id="fanc_link">
                <b>HOME</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/attending" id="fanc_link">
                <b>ATTEND</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/volunteer" id="fanc_link">
                <b>VOLUNTEER</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/overnight" id="fanc_link">
                <b>STAY OVERNIGHT</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/involved" id="fanc_link">
                <b>GET INVOLVED</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="racing" id="fanc_link">
                <b>RACING</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="history" id="fanc_link">
                <b>HISTORY OF PNWH</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="contact" id="fanc_link">
                <b>CONTACT</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>

        </div>
        <div class="row">
            <div class="col-12">
                <img src="../images/PNWHistorics-Rotator-06.jpg" class="img-responsive" id="shaded" />
            </div>

            <div class="col-0 col-md-1"></div>

            <div id="mainContentDiv" class="col-12 col-md-7">
                <h3><b>Racing</b></h3>
                <img src="../images/wave.jpg" class="img-responsive wave_picture" align="left"/>
                <b>Race Car Driver Information</b>
                <p>Competition licensed drivers can download an entry request form to register to race in the Pacific Northwest Historics at SOVREN’s main web site, www.sovrenracing.org.</p>
                <b>Racing with SOVREN</b>
                <p>SOVREN, the Society Of Vintage Racing Enthusiasts, is here to help you race your vintage car in a safe, fun, and exciting environment. We are a Seattle-based non-profit vintage racing organization with over 500 members throughout Washington, Oregon, California, Idaho, Montana, and British Columbia. Our members are owners and admirers of older sports cars with racing histories. Ownership of a vintage race car is not necessary for SOVREN membership. If you are interested in learning about racing with SOVREN please contact Martin Rudow at the following email address  sovrenmr@integra.net  or call Martin at (206) 427-1124 for specific details.</p>

                <p>Additional information about the SOVREN Race Club can be found on www.sovrenracing.org</p>
            </div>

            <div class="col-12 col-md-3" id="sponsorsDiv">
                <table style="width:100%; " cellspacing="100">

                    <tr>
                        <td><img src="../images/ChildrensHospital.PNG" class="img-responsive" /></td>
                    </tr>
                    <tr class="blank_row"></tr>
                    <tr>
                        <td><h6>Our 2019 Sponsors:</h6></td>
                    </tr>
                    <tr>
                        <td><img src="../images/NW-Dealers.PNG" class="img-responsive" /></td>
                    </tr>
                    <tr class="blank_row"></tr>
                    <tr>
                        <td>
                            <h6>NORTHWEST PORSCHE DEALERS</h6>
                            <ul>
                                <li><a href="http://bellingham.porschedealer.com/" id="dark_link">Bellingham Porsche</a></li>
                                <li><a href="http://bellevue.porschedealer.com/" id="dark_link">Bellevue Porsche</a></li>
                                <li><a href="https://www.porscheoftacoma.com/" id="dark_link">Porsche of Tacoma</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="blank_row"></tr>
                    <tr>
                        <td><img src="../images/pnwh_poster.jpg" class="img-responsive" /></td>
                    </tr>
                    <tr class="blank_row"></tr>
                    <tr>
                        <td><img src="../images/holmes_electric.jpg" class="img-responsive" /></td>
                    </tr>
                </table>
                <p></p>
                <img src="http://northwesthistorics.com/wp-content/uploads/2012/03/Social-Media-Bar.png" width="200px" height="40" border="0" usemap="#Connect">
                <map name="Connect">
                    <area shape="rect" coords="3,2,39,36" href="http://www.facebook.com/pages/SOVREN-Guild/111669092203590" target="blank">
                    <area shape="rect" coords="42,2,78,36" href="http://www.linkedin.com/groups/Pacific-Northwest-Historics-4233113?home=&gid=4233113&trk=anet_ug_hm" target="blank">
                    <area shape="rect" coords="82,2,118,36" href="http://twitter.com/PNWHistorics" target="blank">
                    <area shape="rect" coords="123,2,159,36" href="http://www.youtube.com/user/PNWHistorics?feature=mhee" target="blank">
                </map>

            </div>
            <div class="col-0 col-md-1">

            </div>
        </div>
        <div class="row">
            <div class="col-12" id="footer">
                <p><b>© 2019 Pacific Northwest Historics All Rights Reserved</b></p>
                <a href="">Home</a> |
                <a href="">Blog</a> |
                <a href="">Media Information</a> |
                <a href="">Our Sponsors</a> |
                <a href="">Helpful Links</a> |
                <a href="">FAQs</a> |
                <a href="">Privacy Policy</a><p></p>
                <p><b>Website provided by Sean Schlichte</b></p>
            </div>
        </div>
    </div>
