<h1>Web Resources</h1>
		<ol>
			<!--An unordered list of links to various useful websites.-->
			
			<!--Describe each of the seven (7) resource sites in terms of what resources they offer, 
			to whom the site may be useful, and the value of usefulness, why each is useful, 
			and how you think you will be able to use it during your web authoring career.  
			You should have a minimum of five sentences here.-->
			
			<li><p><a href="http://w3schools.com" target="_blank">W3Schools</a><br />
			W3Schools is probably the most useful of the websites here. It contains a comprehensive list of all html tags,
			an extensive tutorial system and guides for using Bootstrap, CSS, Javascript, SQL, PHP and ASP. It comes with
			a simple hexadecimal Color Code generator. It helped me work out how to use Bootstrap, it refreshed me on 
			tables and divs, and the user friendly layout has made naivgation just plain easy. It's a damn fine resource 
			for both novice and expert HTML programmers alike, and I recommend it highly.<span>5/5</span></p></li>
			
			<li><p><a href="https://stackoverflow.com/" target="_blank">Stack Overflow</a><br />
			If W3Schools is where I go to learn, than Stack Overflow is where I go to find out how to get through a problem.
			Stack Overflow is a community forum for programmers, where they can chat and build lines of communication. Primarily
			though, Stack Overflow is most useful for it's Question and Answer section. Here, novice programmers and programmers
			starting off with different computer languages can discuss glitches, faults, and how-tos with veteran code jockies.
			In this forum I was able to learn how to use the &ltspan&gt tag to create the right aligned rating system of this 
			page. I was also able to learn how to escape the &ltspan&gt tag. <span>4/5</span></p></li>
			
			<li><p><a href="https://github.com/" target="_blank">GitHub</a><br />
			You can't really go wrong with finding a way to remotely store your code and GitHub is one way to do that. GitHub 
			a free online code storage and project coordination resource that enables a large group of coders to cooperate on
			different programs, with uses as wide ranging as Linux to HTML. The website can be used to publicize and distribute
			code as well, enabling people to, as one example, turn in there assignments for their class. It has a rather obtuse
			that takes a lot of getting used to, but once you have the knack (or at least the gist) you can do pretty well. A 
			good beginners introduction tocode storage.<span>4/5</span></p></li>
			
			<li><p><a href="https://www.rapidtables.com/web/color/html-color-codes.html" target="_blank">HTML Color Guide</a><br />
			Here is where people not interested in Web Design but who do want pretty websites go to make their websites
			look passable. Rapid Tables provides a free online RGB Hexadecimal program that can be used to generate quick 
			color codes to make text, backgrounds, divs, outlines and the like whatever color you want. Want to make your
			central div pop? This is your website. It comes with a long list of pregenerated color codes that I used to
			give my website's a very pretty pale goldenrod background.<span>2/5</span></p></li>
			
			<li><p><a href="https://console.cloud.google.com/compute/instances?project=linear-ellipse-228302" target="_blank">Google Cloud</a><br />
			Okay, show of hands, who doesn't want their own server to post their html pages to the internet? This website
			does just that, allowing amatuer coders an easy to access public space to safely store their html sites on the
			web without needing to go through other websites. It offers you a one year free trial, after which you can 
			purchase your space and instances for a low fee. It's good for amatuers who don't want to turn their desktop 
			into their server.<span>4/5</span></p></li>

			<li><p><a href="https://en.wikipedia.org/wiki/Main_Page" target="_blank">Wikipedia</a><br />
			You can never, ever, go wrong with Wikipedia. While most elementary teachers will tell you that Wikipedia can
			be unreliable at the best of times, the simple fact is that a community currated database of pretty much all
			of the knowledge of the human race is damn useful. Here is where you can go for full descriptions of all of
			the leading minds that created the modern internet we will be making our careers from, and it just has such a
			reliable layout that it can never go without inclusion on a list of sources for HTML. Finally it's status as 
			a gigantic online bibliography means that if you want an indepth look into a specific topic.<span>5/5</span></p></li>
			
			<li><p><a href="https://rtc.instructure.com/login/canvas" target="_blank">Canvas</a><br />
			Our school's website. This is our contact point for most of the assignments, files, and emails we all recieve,
			and while the design has taken a turn for the genuine worse (I'm looking at you, TO DO List) it's still a very
			necessary part of our class. The inclusion here really is just because it's our touch point, but most coders
			will have similar links to their company's website or the backend of their company's servers. This link is
			demonstrative of what we, as coders, will all need to have.<span>2/5</span></p></li>
			

			<!--The following is a reference sample for future use and code expansion
			<li><p><a href="HttpGoesHere" target="_blank">LinkTitleGoesHere</a><br />
			DescriptionGoesHere</p></li> 
			-->

			<!--http://35.247.88.51/html/WebResources.html-->
		</0l>
