<div class="col-container">
        <div class="row mobile-container">
          <div class="d-none d-md-block col-md-12" id="navbar">
            <a href="/" id="fanc_link">
              <b>HOME</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/attending" id="fanc_link">
              <b>ATTEND</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/volunteering" id="fanc_link">
              <b>VOLUNTEER</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/overnight" id="fanc_link">
              <b>STAY OVERNIGHT</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/involved" id="fanc_link">
              <b>GET INVOLVED</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/racing" id="fanc_link">
              <b>RACING</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/history" id="fanc_link">
              <b>HISTORY OF PNWH</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/contact" id="fanc_link">
              <b>CONTACT</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>

          <div class="topnav col-12 d-md-none">
            <div id="myLinks">
              <a href="/" id="fanc_link">
                <b>HOME</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/attending" id="fanc_link">
                <b>ATTEND</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/volunteering" id="fanc_link">
                <b>VOLUNTEER</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/overnight" id="fanc_link">
                <b>STAY OVERNIGHT</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/involved" id="fanc_link">
                <b>GET INVOLVED</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/racing" id="fanc_link">
                <b>RACING</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/history" id="fanc_link">
                <b>HISTORY OF PNWH</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/contact" id="fanc_link">
                <b>CONTACT</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
        </div>
        <div class="row">
            <div class="col-12">
                <img src="../images/PNWHistorics-Rotator-03.jpg" class="img-responsive" id="shaded" />
            </div><div class="col-0 col-md-1"></div>





                  <div id="mainContentDiv" class="col-12 col-md-7">

                      <h3><b>History of PNWH</b></h3>
                      <img src="../images/gulf.jpg" class="img-responsive" />
                    <p>&nbsp;</p>
                    <p class="paragraph_color_one">
                      The first Pacific Northwest Historics was held in 1989 as a SOVREN
                      (Society of Vintage Racing Enthusiasts) racing event to showcase
                      the Vintage Racing in the Pacific Northwest. The PNWH Historics
                      committee presents the event to promote Vintage Racing and to
                      enhance the singular racing event with sponsorship, vendors,
                      advertisers, in-kind and monetary donations, coordinating  volunteers.
                      If you have an idea or would like to be included in the event get ahold
                      of Martin and discuss the opportunities. For more information about
                      SOVREN click here.
                    </p>
                    <p>&nbsp;</p>
                      <b>Membership</b>
                    <p>&nbsp;</p>
                      <p>
                          The SOVREN racing club consists of over 380 members, both men and
                          women, who are involved in the many aspects of Vintage Racing. To
                          put on the Historics, we have a central committee that handles
                          the event and many subcommittees that  perform the many functions
                          necessary to handle the event, from media relations to graphic
                          design to paddock and infield control– whatever fits their the
                          needs for the event. The members and volunteers  range in age from
                          under 20 to over 70 years of age. There are no age requirements.
                          Most of our club members  live in the Greater Seattle area.
                          Membership is open, and we have positions for all interests. For
                          more information please inquire here.
                      </p>
                    <p>&nbsp;</p>
                      <b>Committees</b>
                      <p>&nbsp;</p>
                      <p class="paragraph_color_one">
                          The members of the PNWH Historics committee provide for many of the
                          services at the events. The members form groups or focals to handle
                          the necessary planning and execution that make each event a spectacular
                          success.
                      </p>
                    <p>&nbsp;</p>
                      <b>Fundraising</b>
                    <p>&nbsp;</p>

                      <p>
                          The SOVREN race club in the past helped raise over $10 million for
                          uncompensated care at Seattle Children’s since its inception.
                          Since the beginning  of the  Historics, the annual fundraising
                          for the Hospital has increased from $7,500 in 1990 to $400,000
                          in 2017.
                      </p>

                      <b>Volunteer Hours</b>
                    <p>&nbsp;</p>
                      <p class="paragraph_color_one">
                          The SOVREN PNWH Historics provides for many dedicated volunteer
                          hours that can be associated with the hospital.. Community support
                          plays an important part in the success of Children’s and volunteer
                          hours are used by the hospital when applying for funding grants. To
                          learn more about volunteer opportunities click here.
                      </p>
                  </div>






                  <div class="col-12 col-md-3" id="sponsorsDiv">
                      <table style="width:100%; " cellspacing="100">

                        <tr>
                          <td>
                            <a href="https://www.seattlechildrens.org/">
                              <img src="images/SeattleChildrensHospitalLogo.png" class="img-responsive" />
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <a href="/contact">
                              <img src="images/PurchaseTickets.png" class="img-responsive" />
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <a href="volunteering">
                              <img src="images/Volunteer2.png" class="img-responsive" />
                            </a>
                          </td>
                        </tr>
                          <tr class="blank_row"></tr>
                          <tr>
                              <td><h6>Our 2019 Sponsors:</h6></td>
                          </tr>
                          <tr>
                              <td><img src="../images/NW-Dealers.PNG" class="img-responsive" /></td>
                          </tr>
                          <tr class="blank_row"></tr>
                          <tr>
                              <td>
                                  <h6>NORTHWEST PORSCHE DEALERS</h6>
                                  <ul>
                                      <li><a href="http://bellingham.porschedealer.com/" id="dark_link">Bellingham Porsche</a></li>
                                      <li><a href="http://bellevue.porschedealer.com/" id="dark_link">Bellevue Porsche</a></li>
                                      <li><a href="https://www.porscheoftacoma.com/" id="dark_link">Porsche of Tacoma</a></li>
                                  </ul>
                              </td>
                          </tr>
                          <tr class="blank_row"></tr>
                          <tr>
                              <td><img src="../images/pnwh_poster.jpg" class="img-responsive" /></td>
                          </tr>
                          <tr class="blank_row"></tr>
                          <tr>
                              <td><img src="../images/holmes_electric.jpg" class="img-responsive" /></td>
                          </tr>
                      </table>
                      <p></p>
                      <img src="http://northwesthistorics.com/wp-content/uploads/2012/03/Social-Media-Bar.png" width="200px" height="40" border="0" usemap="#Connect">
                      <map name="Connect">
                          <area shape="rect" coords="3,2,39,36" href="http://www.facebook.com/pages/SOVREN-Guild/111669092203590" target="blank">
                          <area shape="rect" coords="42,2,78,36" href="http://www.linkedin.com/groups/Pacific-Northwest-Historics-4233113?home=&gid=4233113&trk=anet_ug_hm" target="blank">
                          <area shape="rect" coords="82,2,118,36" href="http://twitter.com/PNWHistorics" target="blank">
                          <area shape="rect" coords="123,2,159,36" href="http://www.youtube.com/user/PNWHistorics?feature=mhee" target="blank">
                      </map>

                  </div>
            <div class="col-0 col-md-1">

            </div>
        </div>
        <div class="row">
            <div class="col-12" id="footer">
                <p><b>© 2019 Pacific Northwest Historics All Rights Reserved</b></p>
                <a href="">Home</a> |
                <a href="">Blog</a> |
                <a href="">Media Information</a> |
                <a href="">Our Sponsors</a> |
                <a href="">Helpful Links</a> |
                <a href="">FAQs</a> |
                <a href="">Privacy Policy</a><p></p>
                <p><b>Website provided by Sean Schlichte</b></p>
            </div>
        </div>
    </div>
