 <div class="col-container">
      <div class="row">
        <div class="col-12">
          <a>
            HOME ATTEND VOLUNTEER STAY OVERNIGHT
            GET INVOLVED RACING HISTORY OF PNWH CONTACT
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <img src="images/bannerCar.jpg" class="img-responsive"/>
        </div>

        <div class="col-1"></div>

        <div id="mainContentDiv" class="col-7">

          <h4>Pacific Northwest Historics</h4>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/gnKBiEMIc54"
            class="embed-responsive-item"></iframe>
          </div>


          <p>
            Watch - help out - or even Race at the 2019 Pacific Northwest Historics.
            It's the Northwest's largest sports car road race, and the largest single
            event fundraiser for Seattle Children's Hospital.
          </p>

          <p>
            The <b>Pacific Northwest Historics</b> is a volunteer-driven event sanctioned by
            SOVREN (Society of Vintage Racing Enthusiasts) Race Club.
          </p>

          <p>
            This event is all about the spectators, car owners, drivers and crews having the
            most amount of fun possible. The Pacific Northwest Historics is one of the most
            popular vintage races on the West Coast, drawing competitors from most western
            states. In past years, drivers have traveled from as far as Hong Kong, Australia,
            New Zealand and Europe.
          </p>

          <p>
            We have a lot in store for the 2019 PNW Historics, including the celebration of
            the 50th Anniversary of IMSA Racing cars. Meet guest celebrity Mitch Bishop and
            get an autograph or picture!
          </p>

          <p>
            Racing will be held on Friday, July 5th, Saturday, July 6th, and Sunday July 7th.
            Car corrals, special car displays, a vendors row and more are also featured each
            day.
          </p>

          <p>Want to get involved in the Historics? There are three ways:</p>

          <a href="http://northwesthistorics.com/theguild/upcoming-events/">
            <b>ATTEND</b>
          </a>

          <p>
            Our family friendly event offers something for everyone! From our die hard
            spectators who have attended every event since the beginning to those just
            checking us our for the first time. From our huge car corral featuring many local
            car clubs and private owners vehicles, to our open paddocks and infield, our attendees
            are treated to excitement from the minute they arrive! To learn more about attending
            our event, planning your visit, and more, please visit the Attend page of our website.
            The track is located at 31001 144th Ave SE, Kent, WA 98042.
          </p>


          <a href="http://northwesthistorics.com/volunteer/">
            <b>VOLUNTEER</b>
          </a>

          <p>
            We couldn't do this event without the help from our volunteers. From our behind the
            scenes event team who volunteer year round planning the event, or our event volunteers
            who help with set up, event weekend volunteering, and take down. We have something for
            everyone and welcome you to join us!
          </p>

          <p>
            To learn more about joining the SOVREN Historics volunteers, please visit the Volunteer page
            of our website.
          </p>

          <a href="http://northwesthistorics.com/helpful-info/vendors-auction/">
            <b>DONATE and GET INVOLVED</b>
          </a>

          <p>
            Nearly our entire event runs on the donations of individuals and businesses within
            our community, which is just one reason that our event is so special! From our in-kind
            donors who supply items for our driver bags, or banquet food, to our corporate sponsors
            and program sponsors, individual donors, vendors, car corral participants, and auction
            donors.There is a way for everyone, and every business to help make this event more successful!
          </p>

          <p>
            Visit our Donate page to learn more about the various ways you can get involved in
            supporting our event.
          </p>
        </div>

        <div class="col-4"></div>

      </div>
    </div>
