<div class="col-container">
        <div class="row mobile-container">
          <div class="d-none d-md-block col-md-12" id="navbar">
            <a href="/" id="fanc_link">
              <b>HOME</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/attending" id="fanc_link">
              <b>ATTEND</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/volunteering" id="fanc_link">
              <b>VOLUNTEER</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/overnight" id="fanc_link">
              <b>STAY OVERNIGHT</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/involved" id="fanc_link">
              <b>GET INVOLVED</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/racing" id="fanc_link">
              <b>RACING</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/history" id="fanc_link">
              <b>HISTORY OF PNWH</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/contact" id="fanc_link">
              <b>CONTACT</b>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>

          <div class="topnav col-12 d-md-none">
            <div id="myLinks">
              <a href="/" id="fanc_link">
                <b>HOME</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/attending" id="fanc_link">
                <b>ATTEND</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/volunteering" id="fanc_link">
                <b>VOLUNTEER</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/overnight" id="fanc_link">
                <b>STAY OVERNIGHT</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/involved" id="fanc_link">
                <b>GET INVOLVED</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/racing" id="fanc_link">
                <b>RACING</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/history" id="fanc_link">
                <b>HISTORY OF PNWH</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/contact" id="fanc_link">
                <b>CONTACT</b>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
        </div>
        <div class="row">
            <div class="col-12">
                <img src="../images/PNWHistorics-Rotator-03.jpg" class="img-responsive" id="shaded" />
            </div>

            <div class="col-0 col-md-1"></div>

            <div id="mainContentDiv" class="col-12 col-md-7">
                <h3>Volunteer</h3>
              <p>&nbsp;</p>
                <p>
                    For people wishing to volunteer their time at this event, please see
                    descriptions of the volunteer positions below and click on the ‘Volunteer
                    Now’ link on the right and submit a volunteer form. For any questions,
                    please e-mail Carol Bredeson at montego2k6@gmail.com or call 206-244-4559.
                </p>
              <p>&nbsp;</p>

                <b>Open Positions During Race Weekend:</b>
                <p>
                  <p>&nbsp;</p>
                    <b>Set up of Facility</b> – Work with the setup coordinator to prepare site for
                    weekend races (i.e. unpacking boxes, putting table clothes on,
                    programs etc.) <italics>Wednesday and Thursday ONLY</italics><br />
                    Volunteer for Set up of Facility
                </p>
              <p>&nbsp;</p>

                <p>
                    <b>Paddock Control</b> – Volunteers in this area assist in pedestrian safety and
                    the smooth movement of the race cars to the track entrance or their pits.
                    Volunteers in this area will be given assigned stations (a rotation of
                    volunteers will be attempted due to the long hours of standing). Act as
                    information points for spectators or participants. All volunteers working
                    in this area will know proper procedures for emergencies and reporting of
                    incidents.<br />Volunteer for Paddock
                </p>
              <p>&nbsp;</p>
                <p>
                    <b>Ticket Booth</b> – Help with sales of spectator tickets, will call, media
                    passes and VIP packages.
                    <br />Volunteer for Ticket Booth
                </p>
              <p>&nbsp;</p>
                <p>
                    <b>In-Field Crowd Control</b> – Flag off dangerous portions of in-field. Monitor
                    spectators in those areas. Monitor track crossing and crowd control.
                    Assist spectator’s needs within the in-field. Assist media
                    turn-workers when requested. Act as information points for spectators or
                    participants. All volunteers working in this area will know proper
                    procedures for emergencies and reporting of incidents.
                    <br />Volunteer for In-Field Crowd Control
                </p>
              <p>&nbsp;</p>
                <p>
                    <b>First Aid</b> – Respond to basic first aid needs of spectators, volunteers
                    and guild members following the SOVREN Guild First Aid protocols. Help
                    with lost child/lost adult communications. Minimun requirements: Current
                    BLS First Aid & CPR training.
                    <br />Volunteer for First Aid
                </p>
              <p>&nbsp;</p>
                <p>
                    <b>Decorations</b> – Assist with decorating private banquet tents (Wednesday
                    prior race weekend, and Saturday of race weekend).
                    <br />Volunteer for Decorations
                </p>
              <p>&nbsp;</p>
                <p>
                    <b>Ticket Entrance</b> – Greet people as they come through the gate, take
                    tickets, assist security check bags and backpacks and count the number of
                    people coming into the races. Act as information points for spectators or
                    participants. All volunteers working in this area will know proper
                    procedures for emergencies and reporting of incidents.
                    <br />Volunteer for Ticket Entrance
                </p>
              <p>&nbsp;</p>
                <p>
                    <b>Track Crossing</b> – Follow direction from track official and work in
                    coordination with track crossing volunteers on opposite side of track to
                    quickly and safely route spectators. Act as information points for
                    spectators or participants. All volunteers working in this area will know
                    proper procedures for emergencies and reporting of incidents.
                    <br />Volunteer for Track Crossing
                </p>
              <p>&nbsp;</p>
                <p>
                    <b>Take Down</b> – Work with the take down coordinator to prepare supply trucks
                    for going to the storage unit (i.e. packing boxes, cleaning up the site,
                    loading trucks, etc.). Assist with unloading supply trcuks at storage
                    unit in West Seattle. **Sunday Evening ONLY**
                    <br />Volunteer for Take Down
                </p>
              <p>&nbsp;</p>
              <p>
                <b>Car Corral</b> – During the event the committee is responsible for arrangement
                of Car Corral area, awards and the noon “on track” parade laps.
                <br />Volunteer for Car Corral
              </p>
              <p>&nbsp;</p>
                <p>
                    <b>Floater</b> – Work with the volunteer coordinator and fill in areas of need
                    around the track/races when needs arise. Meet, greet, and sign in
                    volunteers as they arrive at track. Help maintain volunteer area.
                    <br />Volunteer for Floater
                </p>
<p>&nbsp;</p>
                <p>
                    <b>Volunteer Food Services</b> – Assist with the delivery of lunches and
                    drinks to guild members and volunteer staff during the course of the
                    event (Friday, Saturday and Sunday).
                    <br />Volunteer for Volunteer Food Service
                </p>
              <p>&nbsp;</p>
                <p>
                    <b>Souvenirs</b> – Assist with set-up of displays prior to the event, sales of items at the souvenir booth and driver’s services booth, inventory and packing of remaining items after the event concludes.
                    <br />Volunteer for Souvenirs
                </p>
              <p>&nbsp;</p>
            </div>

            <div class="col-12 col-md-3" id="sponsorsDiv">
                <table style="width:100%; " cellspacing="100">

                  <tr>
                    <td>
                      <a href="https://www.seattlechildrens.org/">
                        <img src="images/SeattleChildrensHospitalLogo.png" class="img-responsive" />
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="/contact">
                        <img src="images/PurchaseTickets.png" class="img-responsive" />
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="volunteering">
                        <img src="images/Volunteer2.png" class="img-responsive" />
                      </a>
                    </td>
                  </tr>
                    <tr class="blank_row"></tr>
                    <tr>
                        <td><h6>Our 2019 Sponsors:</h6></td>
                    </tr>
                    <tr>
                        <td><img src="../images/NW-Dealers.PNG" class="img-responsive" /></td>
                    </tr>
                    <tr class="blank_row"></tr>
                    <tr>
                        <td>
                            <h6>NORTHWEST PORSCHE DEALERS</h6>
                            <ul>
                                <li><a href="http://bellingham.porschedealer.com/" id="dark_link">Bellingham Porsche</a></li>
                                <li><a href="http://bellevue.porschedealer.com/" id="dark_link">Bellevue Porsche</a></li>
                                <li><a href="https://www.porscheoftacoma.com/" id="dark_link">Porsche of Tacoma</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="blank_row"></tr>
                    <tr>
                        <td><img src="../images/pnwh_poster.jpg" class="img-responsive" /></td>
                    </tr>
                    <tr class="blank_row"></tr>
                    <tr>
                        <td><img src="../images/holmes_electric.jpg" class="img-responsive" /></td>
                    </tr>
                </table>
                <p></p>
                <img src="http://northwesthistorics.com/wp-content/uploads/2012/03/Social-Media-Bar.png" width="200px" height="40" border="0" usemap="#Connect">
                <map name="Connect">
                    <area shape="rect" coords="3,2,39,36" href="http://www.facebook.com/pages/SOVREN-Guild/111669092203590" target="blank">
                    <area shape="rect" coords="42,2,78,36" href="http://www.linkedin.com/groups/Pacific-Northwest-Historics-4233113?home=&gid=4233113&trk=anet_ug_hm" target="blank">
                    <area shape="rect" coords="82,2,118,36" href="http://twitter.com/PNWHistorics" target="blank">
                    <area shape="rect" coords="123,2,159,36" href="http://www.youtube.com/user/PNWHistorics?feature=mhee" target="blank">
                </map>

            </div>
            <div class="col-0 col-md-1">

            </div>
        </div>
        <div class="row">
            <div class="col-12" id="footer">
                <p><b>© 2019 Pacific Northwest Historics All Rights Reserved</b></p>
                <a href="">Home</a> |
                <a href="">Blog</a> |
                <a href="">Media Information</a> |
                <a href="">Our Sponsors</a> |
                <a href="">Helpful Links</a> |
                <a href="">FAQs</a> |
                <a href="">Privacy Policy</a><p></p>
                <p><b>Website provided by Sean Schlichte</b></p>
            </div>
        </div>
    </div>
